{% extends 'base.html' %}
    {% block content %}
    <!-- Main -->
    <main class="main--wrapper">
        <!-- hero  -->
        <section class="hero hero__area">
            <div class="hero__active slider-active">
                <div class="single__hero single-slider hero__bg pt-140 pb-120" data-background="img/bg/h1__hero__bg.png">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 offset-lg-3">
                                <div class="hero__caption">
                                    <span class="offer--title__hero white-color f-800" data-animation="fadeInDown" data-delay=".2s">End Season Sale</span>
                                    <h2 class="product--name__hero white-color f-200 mb-50" data-animation="fadeInUp" data-delay=".5s">Wooden Furniture</h2>
                                    <p class="product--price__hero white-color mb-20" data-animation="fadeInLeft" data-delay=".7s"><span class="f-300">Wide Rang Start From</span><span class="price f-800"><sup>$</sup>252.00</span></p>
                                    <a href="#" class="btn orange-bg-btn f-700" data-animation="fadeInDown" data-delay=".9s">Start Buying</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single__hero single-slider hero__bg pt-140 pb-120" data-background="img/bg/h1__hero__bg.png">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 offset-lg-3">
                                <div class="hero__caption">
                                    <span class="offer--title__hero white-color f-800" data-animation="fadeInDown" data-delay=".2s">End Season Sale</span>
                                    <h2 class="product--name__hero white-color f-200 mb-50" data-animation="fadeInUp" data-delay=".5s">Wooden Furniture</h2>
                                    <p class="product--price__hero white-color mb-20" data-animation="fadeInLeft" data-delay=".7s"><span class="f-300">Wide Rang Start From</span><span class="price f-800"><sup>$</sup>260.00</span></p>
                                    <a href="#" class="btn orange-bg-btn f-700" data-animation="fadeInDown" data-delay=".9s">Start Buying</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single__hero single-slider hero__bg pt-140 pb-120" data-background="img/bg/h1__hero__bg.png">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 offset-lg-3">
                                <div class="hero__caption">
                                    <span class="offer--title__hero white-color f-800" data-animation="fadeInDown" data-delay=".2s">End Season Sale</span>
                                    <h2 class="product--name__hero white-color f-200 mb-50" data-animation="fadeInUp" data-delay=".5s">Wooden Furniture</h2>
                                    <p class="product--price__hero white-color mb-20" data-animation="fadeInLeft" data-delay=".7s"><span class="f-300">Wide Rang Start From</span><span class="price f-800"><sup>$</sup>260.00</span></p>
                                    <a href="#" class="btn orange-bg-btn f-700" data-animation="fadeInDown" data-delay=".9s">Start Buying</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single__hero single-slider hero__bg pt-140 pb-120" data-background="img/bg/h1__hero__bg.png">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 offset-lg-3">
                                <div class="hero__caption">
                                    <span class="offer--title__hero white-color f-800" data-animation="fadeInDown" data-delay=".2s">End Season Sale</span>
                                    <h2 class="product--name__hero white-color f-200 mb-50" data-animation="fadeInUp" data-delay=".5s">Wooden Furniture</h2>
                                    <p class="product--price__hero white-color mb-20" data-animation="fadeInLeft" data-delay=".7s"><span class="f-300">Wide Rang Start From</span><span class="price f-800"><sup>$</sup>260.00</span></p>
                                    <a href="#" class="btn orange-bg-btn f-700" data-animation="fadeInDown" data-delay=".9s">Start Buying</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero end -->
    </main>
    {% endblock %}